:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary: rgb(0, 0, 0);

  --theme-color: blue;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
